.u-table {
  border-radius: 10px;
  background: #ffffff;
  overflow-x: auto;
}
.u-table p {
  margin: 0;
  padding: 0;
}
.u-table table {
  border-radius: 10px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.u-table table caption,
.u-table table th,
.u-table table td {
  text-align: left;
  vertical-align: middle;
}
.u-table table thead tr th {
  color: #1e4391;
  border-bottom: 2px solid #1e4391;
  padding: 18px 20px;
}
.u-table table thead tr th .sort {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 100%;
}
.u-table table thead tr th .sort:after {
  position: absolute;
  content: "";
  top: 4px;
  right: 0;
  width: 10px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.61597 0.461158L0.683495 5.18013C0.412109 5.5058 0.643687 6.00023 1.06761 6.00023H8.93256C9.35648 6.00023 9.58806 5.5058 9.31668 5.18013L5.3842 0.461158C5.1843 0.221281 4.81587 0.22128 4.61597 0.461158Z' fill='%231E4391'/%3E%3Cpath d='M5.38403 15.5388L9.3165 10.8199C9.58789 10.4942 9.35631 9.99977 8.93239 9.99977H1.06744C0.643517 9.99977 0.411939 10.4942 0.683325 10.8199L4.6158 15.5388C4.8157 15.7787 5.18413 15.7787 5.38403 15.5388Z' fill='%231E4391'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.u-table table thead tr th.sticky {
  position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 1;
  text-align: center;
}
.u-table table thead tr th.sticky:after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(
    269.98deg,
    rgba(211, 211, 211, 0.8) -24.97%,
    rgba(211, 211, 211, 0) 112.48%
  );
  transform: scaleX(-1);
}
.u-table table tbody tr {
  background-color: #fff;
}
.u-table table tbody tr td {
  border-bottom: 1px solid #cad1e1;
  padding: 20px;
}
.u-table table tbody tr td * {
  width: 100%;
  white-space: break-spaces;
  word-break: break-all;
}
.u-table table tbody tr td.sticky {
  position: sticky;
  left: 0;
  background-color: inherit;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.u-table table tbody tr td.sticky a {
  color: #1e4391 !important;
}
.u-table table tbody tr td.sticky:after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(
    269.98deg,
    rgba(211, 211, 211, 0.8) -24.97%,
    rgba(211, 211, 211, 0) 112.48%
  );
  transform: scaleX(-1);
}
.u-table table tbody tr:last-child td {
  border: none;
}
.u-table table tbody tr:hover {
  background-color: #e9ecf1;
}
.bg-gradient-main {
  background: linear-gradient(
    270deg,
    #ff2d7f -0.71%,
    #fb3727 47.63%,
    #feea0f 100%
  );
}
.bg-transparent {
  background-color: transparent;
}
.bg-blue-main {
  background-color: #1e4391;
}
.bg-blue-dark {
  background-color: #0f2b5e;
}
.bg-blue-60 {
  background-color: #748ab9;
}
.bg-blue-40 {
  background-color: #9faecd;
}
.bg-blue-20 {
  background-color: #cad1e1;
}
.bg-blue-secondary {
  background-color: #4685cf;
}
.bg-red-main {
  background-color: #ef302b;
}
.bg-red-dark {
  background-color: #c0231f;
}
.bg-red-60 {
  background-color: #f58380;
}
.bg-gray-60 {
  background-color: #545454;
}
.bg-gray-40 {
  background-color: #a7a7a7;
}
.bg-gray-20 {
  background-color: #d3d3d3;
}
.bg-black-main {
  background-color: #222;
}
.bg-white {
  background-color: #fff;
}
.bg-green {
  background-color: #3ba68c;
}
.bg-pink {
  background-color: #e54b6a;
}
.bg-orange {
  background-color: #e98446;
}
.bg-violet {
  background-color: #a08ce2;
}
.bg-background {
  background-color: #f6f6f6;
}
.clr-transparent {
  color: transparent;
}
.clr-blue-main {
  color: #1e4391;
}
.clr-blue-dark {
  color: #0f2b5e;
}
.clr-blue-60 {
  color: #748ab9;
}
.clr-blue-40 {
  color: #9faecd;
}
.clr-blue-20 {
  color: #cad1e1;
}
.clr-blue-secondary {
  color: #4685cf;
}
.clr-red-main {
  color: #ef302b;
}
.clr-red-dark {
  color: #c0231f;
}
.clr-red-60 {
  color: #f58380;
}
.clr-gray-60 {
  color: #545454;
}
.clr-gray-40 {
  color: #a7a7a7;
}
.clr-gray-20 {
  color: #d3d3d3;
}
.clr-black-main {
  color: #222;
}
.clr-white {
  color: #fff;
}
.clr-green {
  color: #3ba68c;
}
.clr-pink {
  color: #e54b6a;
}
.clr-orange {
  color: #e98446;
}
.clr-violet {
  color: #a08ce2;
}
.clr-background {
  color: #f6f6f6;
}
.u-fw-400 {
  font-weight: 400;
}
.u-fw-500 {
  font-weight: 500;
}
.u-fw-600 {
  font-weight: 600;
}
h1,
.h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 57.2px;
}
h2,
.h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
h3,
.h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
h4,
.h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
h5,
.h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
}
.st {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}
.ds {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}
.th {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.tt {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.bt {
  font-weight: 500;
  font-size: 13px;
  line-height: 15.6px;
}
.u-required:after {
  content: "*";
  color: #ef302b;
  padding-left: 3px;
}
.u-benefit {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1e4391;
  padding-bottom: 4px;
  border-bottom: 8px solid #1e4391;
}
.u-link {
  color: #1e4391;
  cursor: pointer;
}
.u-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.22em;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100vh;
  display: flex;
}
