.ui-sider {
  position: fixed;
  min-width: 0;
  transition: all 0.2s;
  background-color: #fff;
  height: 100%;
}
.ui-sider.dark {
  background-color: #001529;
}
.ui-sider__fixed_container:not(.activated) .ui-sider {
  width: 0 !important;
}
.ui-sider__fixed_container:not(.activated) .ui-sider .drawer-content {
  display: none;
}
.ui-sider__fixed_container.activated .ui-sider .drawer-content {
  display: block;
}
.ui-sider__fixed_container .ui-sider {
  background-color: #f9f9f9;
  box-shadow: 1px 0 2px #0000001a;
}
.drawer-header {
  position: absolute;
  right: -21px;
  top: 27px;
}
.ui__title {
  color: #545454;
  font-family: Montserrat, sans-serif;
}
.ui__title:hover {
  color: #1e4391;
}
.ui__title.italic {
  font-style: italic;
}
p.ui__title {
  font-weight: 400;
}
.title-mini {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}
.ui__title.danger {
  color: #f5222d;
}
.ui__title.success {
  color: #02ad1e;
}
.ui__title.defence {
  color: #1890ff;
}
.ui__title.white {
  color: #fff;
}
.ui__title.w400 {
  font-weight: 400;
}
.ui__title.w500 {
  font-weight: 500;
}
.ui__title.w600 {
  font-weight: 600;
}
.ui__title.w700 {
  font-weight: 700;
}
.ui__title.center {
  text-align: center;
}
.ui__buttonsplash {
  color: #fff;
  font: inherit;
  border: none;
  position: relative;
  user-select: none;
  box-shadow: 0 0 0 0 rgba((255, 255, 255), 0.5);
  transition: box-shadow 0.15s ease-out;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.ui__buttonsplash.medium {
  min-height: 40px;
  padding-bottom: 28px;
}
.ui__buttonsplash.medium:last-child {
  padding-bottom: 0;
}
.ui__buttonsplash.small {
  padding: 4px 5px;
  font-size: 0.9rem;
  min-height: 30px;
}
.ui__buttonsplash:focus {
  box-shadow: 0 0 0 8px rgba((255, 255, 255), 0.5);
}
.ui__buttonsplash.simple {
  background-color: transparent;
}
.ripple {
  background-color: #467be3;
  width: 0.5rem;
  height: 0.1rem;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%) translateY(-50%);
  mix-blend-mode: screen;
  animation: ripple 1.25s ease-out forwards, fade 1.5s ease-out forwards;
}
@keyframes ripple {
  0% {
    transform: translate(-100%, -100%);
  }
  80% {
    transform: translate(-100%, -100%) scale(50);
  }
  to {
    transform: translate(-100%, -100%) scale(50);
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.menu-item__active {
  background-color: #e6f7ff !important;
  border-right: 3px solid #1890ff;
}
.ui__subtitle {
  margin: 0;
  font-family: Public Sans, sans-serif;
}
.ui__subtitle.ui-center {
  text-align: center;
}
.subtitle-lite {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.66;
  color: #8c8c8c;
}
.typography-mini {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}
.full {
  width: 100%;
}
.center {
  text-align: center;
}
.ui__list {
  margin: 0;
  list-style: none;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}
.ui__list.column {
  padding: 32px !important;
}
.ui__list.list {
  padding: 32px 0 16px !important;
}
.copy-element-container {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 13px 20px 13px 30px;
  display: flex;
}
.copy-element-container .copy-icon {
  transition: all 0.15s ease-out;
  display: flex;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1538 7.26471C17.1538 6.98856 16.93 6.76471 16.6538 6.76471H9.34615C9.07001 6.76471 8.84615 6.98856 8.84615 7.26471L8.84615 17.7353C8.84615 18.0114 9.07001 18.2353 9.34615 18.2353H16.6538C16.93 18.2353 17.1538 18.0114 17.1538 17.7353V7.26471ZM8.84615 5C7.82655 5 7 5.79009 7 6.76471V18.2353C7 19.2099 7.82655 20 8.84615 20H17.1538C18.1734 20 19 19.2099 19 18.2353V6.76471C19 5.79009 18.1734 5 17.1538 5H8.84615Z' fill='%23A7A7A7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 2.5C3 2.22386 3.22386 2 3.5 2H11.8182C11.9186 2 12 2.0814 12 2.18182V3C12 3.55228 12.4477 4 13 4V4C13.5523 4 14 3.55228 14 3V1.14286C14 0.511674 13.4883 0 12.8571 0H3C1.89543 0 1 0.895431 1 2V15.5714C1 16.3604 1.63959 17 2.42857 17H5C5.55228 17 6 16.5523 6 16V16C6 15.4477 5.55228 15 5 15H3.27273C3.1221 15 3 14.8779 3 14.7273V2.5Z' fill='%23A7A7A7'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.copy-element-container .copy-icon:hover {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1538 7.26471C17.1538 6.98856 16.93 6.76471 16.6538 6.76471H9.34615C9.07001 6.76471 8.84615 6.98856 8.84615 7.26471L8.84615 17.7353C8.84615 18.0114 9.07001 18.2353 9.34615 18.2353H16.6538C16.93 18.2353 17.1538 18.0114 17.1538 17.7353V7.26471ZM8.84615 5C7.82655 5 7 5.79009 7 6.76471V18.2353C7 19.2099 7.82655 20 8.84615 20H17.1538C18.1734 20 19 19.2099 19 18.2353V6.76471C19 5.79009 18.1734 5 17.1538 5H8.84615Z' fill='%231E4391'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 2.5C3 2.22386 3.22386 2 3.5 2H11.8182C11.9186 2 12 2.0814 12 2.18182V3C12 3.55228 12.4477 4 13 4V4C13.5523 4 14 3.55228 14 3V1.14286C14 0.511674 13.4883 0 12.8571 0H3C1.89543 0 1 0.895431 1 2V15.5714C1 16.3604 1.63959 17 2.42857 17H5C5.55228 17 6 16.5523 6 16V16C6 15.4477 5.55228 15 5 15H3.27273C3.1221 15 3 14.8779 3 14.7273V2.5Z' fill='%231E4391'/%3E%3C/svg%3E%0A");
}
.code-field {
  width: 100%;
  border: none;
  background-color: #f8f8f8;
  font-weight: 500;
  font-size: 18px;
  color: transparent;
  text-shadow: 0 0 0 #222222;
}
.code-field:focus {
  outline: none;
}
.copy-button {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}
.copy-button .u-icon {
  font-size: 20px !important;
}
.copy-button .u-icon:before {
  color: #a7a7a7;
}
.copy-button:hover .u-icon:before {
  color: #1e4391;
}
.icons-section .element-container {
  grid-template-columns: 50px 1fr;
}
.icons-section .u-icon {
  font-size: 48px;
}
.buttons-section .element-container {
  grid-template-columns: 180px 1fr;
}
.inputs-section .element-container {
  grid-template-columns: 300px 1fr;
}
.inputs-section .element-container div {
  margin: auto 0;
}
.dropdown-section .element-container {
  grid-template-columns: 1fr;
}
.tabs-section .element-container {
  grid-template-columns: 140px 1fr;
}
.crs-section .element-container {
  grid-template-columns: 120px 1fr;
}
.air-datepicker-cell.-year-.-other-decade-,
.air-datepicker-cell.-day-.-other-month- {
  color: var(--adp-color-other-month);
}
.air-datepicker-cell.-year-.-other-decade-:hover,
.air-datepicker-cell.-day-.-other-month-:hover {
  color: var(--adp-color-other-month-hover);
}
.-disabled-.-focus-.air-datepicker-cell.-year-.-other-decade-,
.-disabled-.-focus-.air-datepicker-cell.-day-.-other-month- {
  color: var(--adp-color-other-month);
}
.-selected-.air-datepicker-cell.-year-.-other-decade-,
.-selected-.air-datepicker-cell.-day-.-other-month- {
  color: #fff;
  background: var(--adp-background-color-selected-other-month);
}
.-selected-.-focus-.air-datepicker-cell.-year-.-other-decade-,
.-selected-.-focus-.air-datepicker-cell.-day-.-other-month- {
  background: var(--adp-background-color-selected-other-month-focused);
}
.-in-range-.air-datepicker-cell.-year-.-other-decade-,
.-in-range-.air-datepicker-cell.-day-.-other-month- {
  background-color: var(--adp-background-color-in-range);
  color: var(--adp-color);
}
.-in-range-.-focus-.air-datepicker-cell.-year-.-other-decade-,
.-in-range-.-focus-.air-datepicker-cell.-day-.-other-month- {
  background-color: var(--adp-background-color-in-range-focused);
}
.air-datepicker-cell.-year-.-other-decade-:empty,
.air-datepicker-cell.-day-.-other-month-:empty {
  background: none;
  border: none;
}
.air-datepicker-cell {
  border-radius: var(--adp-cell-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.air-datepicker-cell.-focus- {
  background: var(--adp-cell-background-color-hover);
}
.air-datepicker-cell.-current- {
  color: var(--adp-color-current-date);
}
.air-datepicker-cell.-current-.-focus- {
  color: var(--adp-color);
}
.air-datepicker-cell.-current-.-in-range- {
  color: var(--adp-color-current-date);
}
.air-datepicker-cell.-disabled- {
  cursor: default;
  color: var(--adp-color-disabled);
}
.air-datepicker-cell.-disabled-.-focus- {
  color: var(--adp-color-disabled);
}
.air-datepicker-cell.-disabled-.-in-range- {
  color: var(--adp-color-disabled-in-range);
}
.air-datepicker-cell.-disabled-.-current-.-focus- {
  color: var(--adp-color-disabled);
}
.air-datepicker-cell.-in-range- {
  background: var(--adp-cell-background-color-in-range);
  border-radius: 0;
}
.air-datepicker-cell.-in-range-:hover {
  background: var(--adp-cell-background-color-in-range-hover);
}
.air-datepicker-cell.-range-from- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: var(--adp-cell-border-radius) 0 0 var(--adp-cell-border-radius);
}
.air-datepicker-cell.-range-to- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: 0 var(--adp-cell-border-radius) var(--adp-cell-border-radius) 0;
}
.air-datepicker-cell.-range-to-.-range-from- {
  border-radius: var(--adp-cell-border-radius);
}
.air-datepicker-cell.-selected- {
  color: #fff;
  border: none;
  background: var(--adp-cell-background-color-selected);
}
.air-datepicker-cell.-selected-.-current- {
  color: #fff;
  background: var(--adp-cell-background-color-selected);
}
.air-datepicker-cell.-selected-.-focus- {
  background: var(--adp-cell-background-color-selected-hover);
}
.air-datepicker-body {
  transition: all var(--adp-transition-duration) var(--adp-transition-ease);
}
.air-datepicker-body.-hidden- {
  display: none;
}
.air-datepicker-body--day-names {
  display: grid;
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  margin: 8px 0 3px;
}
.air-datepicker-body--day-name {
  color: var(--adp-day-name-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.air-datepicker-body--day-name.-clickable- {
  cursor: pointer;
}
.air-datepicker-body--day-name.-clickable-:hover {
  color: var(--adp-day-name-color-hover);
}
.air-datepicker-body--cells {
  display: grid;
}
.air-datepicker-body--cells.-days- {
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  grid-auto-rows: var(--adp-day-cell-height);
}
.air-datepicker-body--cells.-months- {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: var(--adp-month-cell-height);
}
.air-datepicker-body--cells.-years- {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: var(--adp-year-cell-height);
}
.air-datepicker-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--adp-border-color-inner);
  min-height: var(--adp-nav-height);
  padding: var(--adp-padding);
  box-sizing: content-box;
}
.-only-timepicker- .air-datepicker-nav {
  display: none;
}
.air-datepicker-nav--title,
.air-datepicker-nav--action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.air-datepicker-nav--action {
  width: var(--adp-nav-action-size);
  border-radius: var(--adp-border-radius);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.air-datepicker-nav--action:hover {
  background: var(--adp-background-color-hover);
}
.air-datepicker-nav--action:active {
  background: var(--adp-background-color-active);
}
.air-datepicker-nav--action.-disabled- {
  visibility: hidden;
}
.air-datepicker-nav--action svg {
  width: 32px;
  height: 32px;
}
.air-datepicker-nav--action path {
  fill: none;
  stroke: var(--adp-nav-arrow-color);
  stroke-width: 2px;
}
.air-datepicker-nav--title {
  border-radius: var(--adp-border-radius);
  padding: 0 8px;
}
.air-datepicker-nav--title i {
  font-style: normal;
  color: var(--adp-nav-color-secondary);
  margin-left: 0.3em;
}
.air-datepicker-nav--title:hover {
  background: var(--adp-background-color-hover);
}
.air-datepicker-nav--title:active {
  background: var(--adp-background-color-active);
}
.air-datepicker-nav--title.-disabled- {
  cursor: default;
  background: none;
}
.air-datepicker-buttons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.air-datepicker-button {
  display: inline-flex;
  color: var(--adp-btn-color);
  border-radius: var(--adp-btn-border-radius);
  cursor: pointer;
  height: var(--adp-btn-height);
  border: none;
  background: rgba(255, 255, 255, 0);
}
.air-datepicker-button:hover {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
}
.air-datepicker-button:focus {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
  outline: none;
}
.air-datepicker-button:active {
  background: var(--adp-btn-background-color-active);
}
.air-datepicker-button span {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.air-datepicker-time {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 12px;
  align-items: center;
  position: relative;
  padding: 0 var(--adp-time-padding-inner);
}
.-only-timepicker- .air-datepicker-time {
  border-top: none;
}
.air-datepicker-time--current {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  text-align: center;
}
.air-datepicker-time--current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}
.air-datepicker-time--current-hours,
.air-datepicker-time--current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}
.air-datepicker-time--current-hours:after,
.air-datepicker-time--current-minutes:after {
  content: "";
  background: var(--adp-background-color-hover);
  border-radius: var(--adp-border-radius);
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}
.air-datepicker-time--current-hours.-focus-:after,
.air-datepicker-time--current-minutes.-focus-:after {
  opacity: 1;
}
.air-datepicker-time--current-ampm {
  text-transform: uppercase;
  align-self: flex-end;
  color: var(--adp-time-day-period-color);
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}
.air-datepicker-time--row {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(
      to right,
      var(--adp-time-track-color),
      var(--adp-time-track-color)
    )
    left 50%/100% var(--adp-time-track-height) no-repeat;
}
.air-datepicker-time--row:first-child {
  margin-bottom: 4px;
}
.air-datepicker-time--row input[type="range"] {
  background: none;
  cursor: pointer;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}
.air-datepicker-time--row input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.air-datepicker-time--row input[type="range"]::-ms-tooltip {
  display: none;
}
.air-datepicker-time--row input[type="range"]:hover::-webkit-slider-thumb {
  border-color: var(--adp-time-track-color-hover);
}
.air-datepicker-time--row input[type="range"]:hover::-moz-range-thumb {
  border-color: var(--adp-time-track-color-hover);
}
.air-datepicker-time--row input[type="range"]:hover::-ms-thumb {
  border-color: var(--adp-time-track-color-hover);
}
.air-datepicker-time--row input[type="range"]:focus {
  outline: none;
}
.air-datepicker-time--row input[type="range"]:focus::-webkit-slider-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}
.air-datepicker-time--row input[type="range"]:focus::-moz-range-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}
.air-datepicker-time--row input[type="range"]:focus::-ms-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}
.air-datepicker-time--row input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -webkit-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}
.air-datepicker-time--row input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -moz-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}
.air-datepicker-time--row input[type="range"]::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -ms-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}
.air-datepicker-time--row input[type="range"]::-webkit-slider-thumb {
  margin-top: calc(var(--adp-time-thumb-size) / 2 * -1);
}
.air-datepicker-time--row input[type="range"]::-webkit-slider-runnable-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: #0000;
  background: rgba(0, 0, 0, 0);
}
.air-datepicker-time--row input[type="range"]::-moz-range-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: #0000;
  background: rgba(0, 0, 0, 0);
}
.air-datepicker-time--row input[type="range"]::-ms-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: #0000;
  background: rgba(0, 0, 0, 0);
}
.air-datepicker-time--row input[type="range"]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
.air-datepicker-time--row input[type="range"]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}
.air-datepicker {
  --adp-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --adp-font-size: 14px;
  --adp-width: 246px;
  --adp-z-index: 100;
  --adp-padding: 4px;
  --adp-grid-areas: "nav" "body" "timepicker" "buttons";
  --adp-transition-duration: 0.3s;
  --adp-transition-ease: ease-out;
  --adp-transition-offset: 8px;
  --adp-background-color: #fff;
  --adp-background-color-hover: #f0f0f0;
  --adp-background-color-active: #eaeaea;
  --adp-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-background-color-in-range-focused: rgba(92, 196, 239, 0.2);
  --adp-background-color-selected-other-month-focused: #8ad5f4;
  --adp-background-color-selected-other-month: #a2ddf6;
  --adp-color: #4a4a4a;
  --adp-color-secondary: #9c9c9c;
  --adp-accent-color: #4eb5e6;
  --adp-color-current-date: var(--adp-accent-color);
  --adp-color-other-month: #dedede;
  --adp-color-disabled: #aeaeae;
  --adp-color-disabled-in-range: #939393;
  --adp-color-other-month-hover: #c5c5c5;
  --adp-border-color: #dbdbdb;
  --adp-border-color-inner: #efefef;
  --adp-border-radius: 4px;
  --adp-border-color-inline: #d7d7d7;
  --adp-nav-height: 32px;
  --adp-nav-arrow-color: var(--adp-color-secondary);
  --adp-nav-action-size: 32px;
  --adp-nav-color-secondary: var(--adp-color-secondary);
  --adp-day-name-color: #ff9a19;
  --adp-day-name-color-hover: #8ad5f4;
  --adp-day-cell-width: 1fr;
  --adp-day-cell-height: 32px;
  --adp-month-cell-height: 42px;
  --adp-year-cell-height: 56px;
  --adp-pointer-size: 10px;
  --adp-poiner-border-radius: 2px;
  --adp-pointer-offset: 14px;
  --adp-cell-border-radius: 4px;
  --adp-cell-background-color-hover: var(--adp-background-color-hover);
  --adp-cell-background-color-selected: #5cc4ef;
  --adp-cell-background-color-selected-hover: #45bced;
  --adp-cell-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-cell-background-color-in-range-hover: rgba(92, 196, 239, 0.2);
  --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
  --adp-btn-height: 32px;
  --adp-btn-color: var(--adp-accent-color);
  --adp-btn-color-hover: var(--adp-color);
  --adp-btn-border-radius: var(--adp-border-radius);
  --adp-btn-background-color-hover: var(--adp-background-color-hover);
  --adp-btn-background-color-active: var(--adp-background-color-active);
  --adp-time-track-height: 1px;
  --adp-time-track-color: #dedede;
  --adp-time-track-color-hover: #b1b1b1;
  --adp-time-thumb-size: 12px;
  --adp-time-padding-inner: 10px;
  --adp-time-day-period-color: var(--adp-color-secondary);
  --adp-mobile-font-size: 16px;
  --adp-mobile-nav-height: 40px;
  --adp-mobile-width: 320px;
  --adp-mobile-day-cell-height: 38px;
  --adp-mobile-month-cell-height: 48px;
  --adp-mobile-year-cell-height: 64px;
}
.air-datepicker-overlay {
  --adp-overlay-background-color: rgba(0, 0, 0, 0.3);
  --adp-overlay-transition-duration: 0.3s;
  --adp-overlay-transition-ease: ease-out;
  --adp-overlay-z-index: 99;
}
.air-datepicker {
  background: var(--adp-background-color);
  border: 1px solid var(--adp-border-color);
  box-shadow: 0 4px 12px #00000026;
  border-radius: var(--adp-border-radius);
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: var(--adp-grid-areas);
  font-family: var(--adp-font-family), sans-serif;
  font-size: var(--adp-font-size);
  color: var(--adp-color);
  width: var(--adp-width);
  position: absolute;
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease),
    transform var(--adp-transition-duration) var(--adp-transition-ease);
  z-index: var(--adp-z-index);
}
.air-datepicker:not(.-custom-position-) {
  opacity: 0;
}
.air-datepicker.-from-top- {
  transform: translateY(calc(var(--adp-transition-offset) * -1));
}
.air-datepicker.-from-right- {
  transform: translate(var(--adp-transition-offset));
}
.air-datepicker.-from-bottom- {
  transform: translateY(var(--adp-transition-offset));
}
.air-datepicker.-from-left- {
  transform: translate(calc(var(--adp-transition-offset) * -1));
}
.air-datepicker.-active-:not(.-custom-position-) {
  transform: translate(0);
  opacity: 1;
}
.air-datepicker.-active-.-custom-position- {
  transition: none;
}
.air-datepicker.-inline- {
  border-color: var(--adp-border-color-inline);
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none;
}
.air-datepicker.-inline- .air-datepicker--pointer {
  display: none;
}
.air-datepicker.-is-mobile- {
  --adp-font-size: var(--adp-mobile-font-size);
  --adp-day-cell-height: var(--adp-mobile-day-cell-height);
  --adp-month-cell-height: var(--adp-mobile-month-cell-height);
  --adp-year-cell-height: var(--adp-mobile-year-cell-height);
  --adp-nav-height: var(--adp-mobile-nav-height);
  --adp-nav-action-size: var(--adp-mobile-nav-height);
  position: fixed;
  width: var(--adp-mobile-width);
  border: none;
}
.air-datepicker.-is-mobile- * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.air-datepicker.-is-mobile- .air-datepicker--pointer {
  display: none;
}
.air-datepicker.-is-mobile-:not(.-custom-position-) {
  transform: translate(-50%, calc(-50% + var(--adp-transition-offset)));
}
.air-datepicker.-is-mobile-.-active-:not(.-custom-position-) {
  transform: translate(-50%, -50%);
}
.air-datepicker.-custom-position- {
  transition: none;
}
.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0;
}
.air-datepicker--pointer {
  --pointer-half-size: calc(var(--adp-pointer-size) / 2);
  position: absolute;
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  z-index: -1;
}
.air-datepicker--pointer:after {
  content: "";
  position: absolute;
  background: #fff;
  border-top: 1px solid var(--adp-border-color-inline);
  border-right: 1px solid var(--adp-border-color-inline);
  border-top-right-radius: var(--adp-poiner-border-radius);
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  box-sizing: border-box;
}
.-top-left- .air-datepicker--pointer,
.-top-center- .air-datepicker--pointer,
.-top-right- .air-datepicker--pointer,
[data-popper-placement^="top"] .air-datepicker--pointer {
  top: calc(100% - var(--pointer-half-size) + 1px);
}
.-top-left- .air-datepicker--pointer:after,
.-top-center- .air-datepicker--pointer:after,
.-top-right- .air-datepicker--pointer:after,
[data-popper-placement^="top"] .air-datepicker--pointer:after {
  transform: rotate(135deg);
}
.-right-top- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer,
[data-popper-placement^="right"] .air-datepicker--pointer {
  right: calc(100% - var(--pointer-half-size) + 1px);
}
.-right-top- .air-datepicker--pointer:after,
.-right-center- .air-datepicker--pointer:after,
.-right-bottom- .air-datepicker--pointer:after,
[data-popper-placement^="right"] .air-datepicker--pointer:after {
  transform: rotate(225deg);
}
.-bottom-left- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer,
[data-popper-placement^="bottom"] .air-datepicker--pointer {
  bottom: calc(100% - var(--pointer-half-size) + 1px);
}
.-bottom-left- .air-datepicker--pointer:after,
.-bottom-center- .air-datepicker--pointer:after,
.-bottom-right- .air-datepicker--pointer:after,
[data-popper-placement^="bottom"] .air-datepicker--pointer:after {
  transform: rotate(315deg);
}
.-left-top- .air-datepicker--pointer,
.-left-center- .air-datepicker--pointer,
.-left-bottom- .air-datepicker--pointer,
[data-popper-placement^="left"] .air-datepicker--pointer {
  left: calc(100% - var(--pointer-half-size) + 1px);
}
.-left-top- .air-datepicker--pointer:after,
.-left-center- .air-datepicker--pointer:after,
.-left-bottom- .air-datepicker--pointer:after,
[data-popper-placement^="left"] .air-datepicker--pointer:after {
  transform: rotate(45deg);
}
.-top-left- .air-datepicker--pointer,
.-bottom-left- .air-datepicker--pointer {
  left: var(--adp-pointer-offset);
}
.-top-right- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer {
  right: var(--adp-pointer-offset);
}
.-top-center- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer {
  left: calc(50% - var(--adp-pointer-size) / 2);
}
.-left-top- .air-datepicker--pointer,
.-right-top- .air-datepicker--pointer {
  top: var(--adp-pointer-offset);
}
.-left-bottom- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer {
  bottom: var(--adp-pointer-offset);
}
.-left-center- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer {
  top: calc(50% - var(--adp-pointer-size) / 2);
}
.air-datepicker--navigation {
  grid-area: nav;
}
.air-datepicker--content {
  box-sizing: content-box;
  padding: var(--adp-padding);
  grid-area: body;
}
.-only-timepicker- .air-datepicker--content {
  display: none;
}
.air-datepicker--time {
  grid-area: timepicker;
}
.air-datepicker--buttons {
  grid-area: buttons;
}
.air-datepicker--buttons,
.air-datepicker--time {
  padding: var(--adp-padding);
  border-top: 1px solid var(--adp-border-color-inner);
}
.air-datepicker-overlay {
  position: fixed;
  background: var(--adp-overlay-background-color);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity var(--adp-overlay-transition-duration)
      var(--adp-overlay-transition-ease),
    left 0s, height 0s, width 0s;
  transition-delay: 0s, var(--adp-overlay-transition-duration),
    var(--adp-overlay-transition-duration),
    var(--adp-overlay-transition-duration);
  z-index: var(--adp-overlay-z-index);
}
.air-datepicker-overlay.-active- {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity var(--adp-overlay-transition-duration)
      var(--adp-overlay-transition-ease),
    height 0s, width 0s;
}
.not-last-elem {
  margin-bottom: 20px;
}
.calendar-section .element-container {
  grid-template-columns: 1fr;
}
.air-comp {
  margin-bottom: 20px;
}
.preloader-section .element-container {
  grid-template-columns: 300px 1fr;
}
.file-upload-section .element-container {
  grid-template-columns: 1fr;
}
.file-upload-section .element-container .not-last-elem {
  margin-bottom: 20px;
}
.messages-section .element-container {
  grid-template-columns: 300px 1fr;
}
.statuses-section .element-container {
  grid-template-columns: 150px 1fr;
}
.statuses-section .element-container .u-status {
  margin: auto 0;
}
.hints-section .element-container {
  grid-template-columns: 100px 1fr;
}
.hints-section .element-container #u-help {
  margin: auto 0;
}
.hints-section .element-container #u-help-tooltip {
  z-index: 100;
}
.notifications-section .element-container {
  grid-template-columns: 300px 1fr;
}
.table-section .element-container {
  grid-template-columns: 1fr;
}
.table-section .element-container .not-last-elem {
  margin-bottom: 20px;
}
.cards-section .element-container {
  grid-template-columns: 400px 1fr;
}
.fonts-colors-section-title-container {
  display: flex;
  justify-content: space-between;
}
.fonts-colors-section-hint {
  margin: auto 0;
}
.fonts-colors-section .not-last-elem {
  margin-bottom: 10px;
}
.fonts-colors-section .color-field {
  font-size: 30px;
  font-weight: 600;
}
.fonts-colors-section .bg-field {
  width: 100px;
  height: 48px;
  border-radius: 10px;
}
.colors-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  column-gap: 20px;
  row-gap: 10px;
}
.menu-section .element-container {
  grid-template-columns: 300px 1fr;
}
.pagination-section .element-container {
  grid-template-columns: 1fr;
}
.pagination-section .element-container .not-last-elem {
  margin-bottom: 20px;
}
.modal-section .element-container {
  grid-template-columns: 1fr;
}
.upward-section .element-container {
  grid-template-columns: 400px 1fr;
}
.drawer-header-action {
  cursor: pointer;
  width: 21px;
  height: 84px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #d3d3d3;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='84' viewBox='0 0 21 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5391 42.3841L8.82009 46.3166C8.49443 46.588 8 46.3564 8 45.9325L8 38.0675C8 37.6436 8.49443 37.412 8.82009 37.6834L13.5391 41.6159C13.7789 41.8158 13.7789 42.1842 13.5391 42.3841Z' fill='%23F6F6F6'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  border-left: 1px solid #c8c7c7;
  border-right: none;
  transform: rotate(180deg);
  transition-property: background-image;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.drawer-header-action-hide {
  cursor: pointer;
  width: 21px;
  height: 84px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #d3d3d3;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='84' viewBox='0 0 21 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5391 42.3841L8.82009 46.3166C8.49443 46.588 8 46.3564 8 45.9325L8 38.0675C8 37.6436 8.49443 37.412 8.82009 37.6834L13.5391 41.6159C13.7789 41.8158 13.7789 42.1842 13.5391 42.3841Z' fill='%23F6F6F6'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  border-right: 1px solid #c8c7c7;
  transition-property: background-image;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.route-container {
  padding: 15px 20px 15px 288px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.content-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 50px;
}
section {
  margin-bottom: 20px;
}
section:last-child {
  margin-bottom: unset;
}
h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1e4391;
  margin-bottom: 28px;
}
h3 {
  color: #1e4391;
  margin-bottom: 16px;
}
.element-container {
  display: grid;
  grid-column-gap: 16px;
  margin-bottom: 16px;
}
@font-face {
  font-family: urfu-ui-icon-font;
  src: url(/assets/urfu-ui-icon-font-98d182eb.eot?vjmdkg);
  src: url(/assets/urfu-ui-icon-font-98d182eb.eot?vjmdkg#iefix)
      format("embedded-opentype"),
    url(/assets/urfu-ui-icon-font-69361143.ttf?vjmdkg) format("truetype"),
    url(/assets/urfu-ui-icon-font-052113a7.woff?vjmdkg) format("woff"),
    url(/assets/urfu-ui-icon-font-5fb5b08d.svg?vjmdkg#urfu-ui-icon-font)
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
.icon-active:before {
  content: "Ó§Ä";
  color: #1e4391;
}
.icon-application:before {
  content: "Ó§Å";
  color: #1e4391;
}
.icon-attention:before {
  content: "Ó§Ç";
  color: #ef302b;
}
.icon-basket:before {
  content: "Ó§É";
  color: #1e4391;
}
.icon-block:before {
  content: "Ó§Ñ";
  color: #1e4391;
}
.icon-briefcase:before {
  content: "Ó§Ö";
  color: #1e4391;
}
.icon-calculator:before {
  content: "Ó§Ü";
  color: #1e4391;
}
.icon-calendar:before {
  content: "Ó§á";
  color: #1e4391;
}
.icon-catalog:before {
  content: "Ó§à";
  color: #1e4391;
}
.icon-chat:before {
  content: "Ó§â";
  color: #1e4391;
}
.icon-check:before {
  content: "Ó§ä";
  color: #3ba68c;
}
.icon-clock:before {
  content: "Ó§ã";
  color: #1e4391;
}
.icon-cloud:before {
  content: "Ó§å";
  color: #1e4391;
}
.icon-copy:before {
  content: "Ó§ç";
  color: #1e4391;
}
.icon-correct:before {
  content: "Ó§é";
  color: #1e4391;
}
.icon-cross:before {
  content: "Ó§è";
  color: #ef302b;
}
.icon-cup:before {
  content: "Ó§ê";
  color: #1e4391;
}
.icon-directory:before {
  content: "Ó§ë";
  color: #1e4391;
}
.icon-doc:before {
  content: "Ó§í";
  color: #1e4391;
}
.icon-document:before {
  content: "Ó§ì";
  color: #1e4391;
}
.icon-documents:before {
  content: "Ó§î";
  color: #1e4391;
}
.icon-down:before {
  content: "Ó§ï";
  color: #1e4391;
}
.icon-down-arrow:before {
  content: "Ó§ñ";
  color: #1e4391;
}
.icon-download:before {
  content: "Ó§ó";
  color: #1e4391;
}
.icon-download-line:before {
  content: "Ó§ò";
  color: #1e4391;
}
.icon-dropdown:before {
  content: "Ó§ô";
  color: #1e4391;
}
.icon-dropdown-horisontal:before {
  content: "Ó§ö";
  color: #1e4391;
}
.icon-entrance:before {
  content: "Ó§õ";
  color: #1e4391;
}
.icon-extracurricular-activities:before {
  content: "Ó§ú";
  color: #1e4391;
}
.icon-filter:before {
  content: "Ó§ù";
  color: #1e4391;
}
.icon-filter-mobile:before {
  content: "Ó§û";
  color: #1e4391;
}
.icon-folder:before {
  content: "Ó§ü";
  color: #e98446;
}
.icon-full-screen:before {
  content: "Ó§†";
  color: #1e4391;
}
.icon-hidden:before {
  content: "Ó§°";
  color: #1e4391;
}
.icon-home:before {
  content: "Ó§¢";
  color: #1e4391;
}
.icon-img:before {
  content: "Ó§£";
  color: #467be3;
}
.icon-information:before {
  content: "Ó§§";
  color: #1e4391;
}
.icon-jpg:before {
  content: "Ó§•";
  color: #467be3;
}
.icon-left:before {
  content: "Ó§¶";
  color: #1e4391;
}
.icon-left-arrow:before {
  content: "Ó§ß";
  color: #1e4391;
}
.icon-letter:before {
  content: "Ó§®";
  color: #1e4391;
}
.icon-like:before {
  content: "Ó§©";
  color: #1e4391;
}
.icon-link:before {
  content: "Ó§™";
  color: #1e4391;
}
.icon-list-view:before {
  content: "Ó§´";
  color: #7a7a7a;
}
.icon-lk-role:before {
  content: "Ó§¨";
  color: #1e4391;
}
.icon-minus:before {
  content: "Ó§≠";
  color: #1e4391;
}
.icon-moderation:before {
  content: "Ó§Æ";
  color: #1e4391;
}
.icon-news:before {
  content: "Ó§Ø";
  color: #1e4391;
}
.icon-notify:before {
  content: "Ó§∞";
  color: #1e4391;
}
.icon-ok:before {
  content: "Ó§±";
  color: #1e4391;
}
.icon-pdf:before {
  content: "Ó§≤";
  color: #ef302b;
}
.icon-pencil:before {
  content: "Ó§≥";
  color: #1e4391;
}
.icon-people:before {
  content: "Ó§¥";
  color: #1e4391;
}
.icon-plus:before {
  content: "Ó§µ";
  color: #1e4391;
}
.icon-png:before {
  content: "Ó§∂";
  color: #467be3;
}
.icon-ppt:before {
  content: "Ó§∑";
  color: #e98446;
}
.icon-question:before {
  content: "Ó§∏";
  color: #1e4391;
}
.icon-rating:before {
  content: "Ó§π";
  color: #1e4391;
}
.icon-right:before {
  content: "Ó§∫";
  color: #1e4391;
}
.icon-right-arrow:before {
  content: "Ó§ª";
  color: #1e4391;
}
.icon-role:before {
  content: "Ó§º";
  color: #1e4391;
}
.icon-save:before {
  content: "Ó§Ω";
  color: #1e4391;
}
.icon-search:before {
  content: "Ó§æ";
  color: #1e4391;
}
.icon-setting:before {
  content: "Ó§ø";
  color: #1e4391;
}
.icon-settlement:before {
  content: "Ó•Ä";
  color: #1e4391;
}
.icon-sorting:before {
  content: "Ó•Å";
  color: #1e4391;
}
.icon-star:before {
  content: "Ó•Ç";
  color: #1e4391;
}
.icon-star-top20:before {
  content: "Ó•É";
  color: #147246;
}
.icon-star-top50:before {
  content: "Ó•Ñ";
  color: #1e4391;
}
.icon-submenu:before {
  content: "Ó•Ö";
  color: #ef302b;
}
.icon-svg:before {
  content: "Ó•Ü";
  color: #a872bc;
}
.icon-table-view:before {
  content: "Ó•á";
  color: #1e4391;
}
.icon-telephone:before {
  content: "Ó•à";
  color: #1e4391;
}
.icon-test-tube:before {
  content: "Ó•â";
  color: #1e4391;
}
.icon-top100:before {
  content: "Ó•ä";
  color: #ef302b;
}
.icon-top20:before {
  content: "Ó•ã";
  color: #147246;
}
.icon-top50:before {
  content: "Ó•å";
  color: #1e4391;
}
.icon-union:before {
  content: "Ó•ç";
  color: #1e4391;
}
.icon-university:before {
  content: "Ó•é";
  color: #1e4391;
}
.icon-up:before {
  content: "Ó•è";
  color: #1e4391;
}
.icon-up-arrow:before {
  content: "Ó•ê";
  color: #1e4391;
}
.icon-upload:before {
  content: "Ó•ë";
  color: #1e4391;
}
.icon-user:before {
  content: "Ó•í";
  color: #1e4391;
}
.icon-warning:before {
  content: "Ó•ì";
  color: #ef302b;
}
.icon-xls:before {
  content: "Ó•î";
  color: #3ba68c;
}
.icon-zip:before {
  content: "Ó•ï";
  color: #0987ae;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf)
    format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf)
    format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf)
    format("truetype");
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
button {
  text-decoration: none;
  border: none;
  background: transparent;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.45vw;
  height: 1.5vh;
}
::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
  width: 0.45vw;
  height: 1.5vh;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}
* {
  scrollbar-color: #d3d3d3 transparent;
  scrollbar-width: thin;
}
.flex-container__2 {
  display: flex;
  column-gap: 15px;
}
.flex-container__2 > .flex-item {
  flex: 0 0 50%;
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf)
    format("truetype");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf)
    format("truetype");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf)
    format("truetype");
}
* {
  font-family: Montserrat;
}
.u-accordion {
  border-left: 4px solid #748ab9;
  max-width: 1120px;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}
.u-accordion-title {
  display: block;
  max-width: 950px;
  font-size: 28px;
  font-weight: 500;
  line-height: 34.13px;
  color: #393E46;
  padding: 14px 0;
}
.u-accordion-toggle {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 23px;
  right: 0px;
}
.u-accordion-toggle:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='20' stroke='%231E4391' stroke-width='2'/%3E%3C/svg%3E%0A")
      no-repeat,
    url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 1C10.5523 1 11 1.44772 11 2V18C11 18.5523 10.5523 19 10 19C9.44772 19 9 18.5523 9 18V2C9 1.44772 9.44772 1 10 1Z' fill='%231E4391'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 10C1 9.44772 1.44772 9 2 9H18C18.5523 9 19 9.44772 19 10C19 10.5523 18.5523 11 18 11H2C1.44772 11 1 10.5523 1 10Z' fill='%231E4391'/%3E%3C/svg%3E%0A")
      no-repeat;
  background-position: 50%;
  transition: all 0.2s;
}
.u-accordion-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}
.u-accordion-input:checked ~ .u-accordion-content {
  max-height: 1000px;
  transition: max-height 0.3s;
  position: relative;
  animation: 0.3s delay-elem;
  overflow: auto;
  margin-bottom: 14px;
}
.u-accordion-input:checked ~ .u-accordion-toggle:after {
  background: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='20' stroke='%231E4391' stroke-width='2'/%3E%3C/svg%3E%0A")
      no-repeat,
    url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 10C1 9.44772 1.44772 9 2 9H18C18.5523 9 19 9.44772 19 10C19 10.5523 18.5523 11 18 11H2C1.44772 11 1 10.5523 1 10Z' fill='%231E4391'/%3E%3C/svg%3E ")
      no-repeat;
  background-position: 50%;
}
.u-accordion-content {
  max-height: 0;
  max-width: 950px;
  font-size: 18px;
  font-weight: 500;
  color: #2951B6;
  transition: max-height 0.3s;
  animation: 0.3s delay-elem-reverse;
}
@keyframes delay-elem {
  0% {
    overflow: hidden;
  }
  to {
    overflow: auto;
  }
}
@keyframes delay-elem-reverse {
  0% {
    margin-bottom: 14px;
  }
  to {
    margin-bottom: 0;
  }
}
.u-card {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  min-height: 280px;
  padding: 20px 20px 62px;
  color: #1e4391;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.5 13-.638-2.825a1 1 0 0 0-1.51-.625l-2.448 1.546L3.45 8.647a1 1 0 0 0-.625-1.509L0 6.5l2.825-.638a1 1 0 0 0 .625-1.51L1.904 1.905 4.353 3.45a1 1 0 0 0 1.509-.625L6.5 0l.638 2.825a1 1 0 0 0 1.51.625l2.448-1.546L9.55 4.353a1 1 0 0 0 .625 1.509L13 6.5l-2.825.638a1 1 0 0 0-.625 1.51l1.546 2.448L8.647 9.55a1 1 0 0 0-1.509.625L6.5 13ZM21.5 32l-.708-1.395a27.59 27.59 0 0 0-.462-.89 13 13 0 0 0-5.045-5.045 27.59 27.59 0 0 0-.89-.462L13 23.5l1.395-.708c.45-.228.675-.342.89-.462a13 13 0 0 0 5.045-5.045c.12-.215.234-.44.462-.89L21.5 15l.708 1.395c.228.45.342.675.462.89a13 13 0 0 0 5.045 5.045c.215.12.44.234.89.462L30 23.5l-1.395.708c-.45.228-.675.342-.89.462a13 13 0 0 0-5.045 5.045c-.12.215-.234.44-.462.89L21.5 32Z' fill='%231E4391'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom 20px left 20px;
}
.u-card:hover {
  background-color: #2951b6;
  color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.5 13-.638-2.825a1 1 0 0 0-1.51-.625l-2.448 1.546L3.45 8.647a1 1 0 0 0-.625-1.509L0 6.5l2.825-.638a1 1 0 0 0 .625-1.51L1.904 1.905 4.353 3.45a1 1 0 0 0 1.509-.625L6.5 0l.638 2.825a1 1 0 0 0 1.51.625l2.448-1.546L9.55 4.353a1 1 0 0 0 .625 1.509L13 6.5l-2.825.638a1 1 0 0 0-.625 1.51l1.546 2.448L8.647 9.55a1 1 0 0 0-1.509.625L6.5 13ZM21.5 32l-.708-1.395a27.59 27.59 0 0 0-.462-.89 13 13 0 0 0-5.045-5.045 27.59 27.59 0 0 0-.89-.462L13 23.5l1.395-.708c.45-.228.675-.342.89-.462a13 13 0 0 0 5.045-5.045c.12-.215.234-.44.462-.89L21.5 15l.708 1.395c.228.45.342.675.462.89a13 13 0 0 0 5.045 5.045c.215.12.44.234.89.462L30 23.5l-1.395.708c-.45.228-.675.342-.89.462a13 13 0 0 0-5.045 5.045c-.12.215-.234.44-.462.89L21.5 32Z' fill='%23FFF'/%3E%3C/svg%3E");
}
.u-card:hover .u-card-action {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.143 3 6 5-6 5' stroke='%23FFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8H1' stroke='%23FFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}
.u-card-action {
  cursor: pointer;
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.143 3 6 5-6 5' stroke='%231E4391' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8H1' stroke='%231E4391' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  bottom: 20px;
  right: 20px;
}
.u-card-second {
  position: relative;
  background-color: #2951b6;
  display: flex;
  flex-direction: column;
  color: #fff;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  min-height: 188px;
  padding: 20px 20px 62px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.5 13-.638-2.825a1 1 0 0 0-1.51-.625l-2.448 1.546L3.45 8.647a1 1 0 0 0-.625-1.509L0 6.5l2.825-.638a1 1 0 0 0 .625-1.51L1.904 1.905 4.353 3.45a1 1 0 0 0 1.509-.625L6.5 0l.638 2.825a1 1 0 0 0 1.51.625l2.448-1.546L9.55 4.353a1 1 0 0 0 .625 1.509L13 6.5l-2.825.638a1 1 0 0 0-.625 1.51l1.546 2.448L8.647 9.55a1 1 0 0 0-1.509.625L6.5 13ZM21.5 32l-.708-1.395a27.59 27.59 0 0 0-.462-.89 13 13 0 0 0-5.045-5.045 27.59 27.59 0 0 0-.89-.462L13 23.5l1.395-.708c.45-.228.675-.342.89-.462a13 13 0 0 0 5.045-5.045c.12-.215.234-.44.462-.89L21.5 15l.708 1.395c.228.45.342.675.462.89a13 13 0 0 0 5.045 5.045c.215.12.44.234.89.462L30 23.5l-1.395.708c-.45.228-.675.342-.89.462a13 13 0 0 0-5.045 5.045c-.12.215-.234.44-.462.89L21.5 32Z' fill='%23FFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom 20px left 20px;
}
.u-card-second:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.5 13-.638-2.825a1 1 0 0 0-1.51-.625l-2.448 1.546L3.45 8.647a1 1 0 0 0-.625-1.509L0 6.5l2.825-.638a1 1 0 0 0 .625-1.51L1.904 1.905 4.353 3.45a1 1 0 0 0 1.509-.625L6.5 0l.638 2.825a1 1 0 0 0 1.51.625l2.448-1.546L9.55 4.353a1 1 0 0 0 .625 1.509L13 6.5l-2.825.638a1 1 0 0 0-.625 1.51l1.546 2.448L8.647 9.55a1 1 0 0 0-1.509.625L6.5 13ZM21.5 32l-.708-1.395a27.59 27.59 0 0 0-.462-.89 13 13 0 0 0-5.045-5.045 27.59 27.59 0 0 0-.89-.462L13 23.5l1.395-.708c.45-.228.675-.342.89-.462a13 13 0 0 0 5.045-5.045c.12-.215.234-.44.462-.89L21.5 15l.708 1.395c.228.45.342.675.462.89a13 13 0 0 0 5.045 5.045c.215.12.44.234.89.462L30 23.5l-1.395.708c-.45.228-.675.342-.89.462a13 13 0 0 0-5.045 5.045c-.12.215-.234.44-.462.89L21.5 32Z' fill='%23FF2D7F'/%3E%3C/svg%3E");
  background-color: #fff;
  color: #1e4391;
}
.u-card-second:hover .u-card-second-action {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.143 3 6 5-6 5' stroke='%23FF2D7F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8H1' stroke='%23FF2D7F' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}
.u-card-second-action {
  cursor: pointer;
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.143 3 6 5-6 5' stroke='%23FFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8H1' stroke='%23FFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  bottom: 20px;
  right: 20px;
}
.bg-gradient-main {
  background: linear-gradient(
    270deg,
    #ff2d7f -0.71%,
    #fb3727 47.63%,
    #feea0f 100%
  );
}
.bg-transparent {
  background-color: transparent;
}
.bg-blue-main {
  background-color: #1e4391;
}
.bg-blue-dark {
  background-color: #0f2b5e;
}
.bg-blue-60 {
  background-color: #748ab9;
}
.bg-blue-40 {
  background-color: #9faecd;
}
.bg-blue-20 {
  background-color: #cad1e1;
}
.bg-blue-secondary {
  background-color: #4685cf;
}
.bg-red-main {
  background-color: #ef302b;
}
.bg-red-dark {
  background-color: #c0231f;
}
.bg-red-60 {
  background-color: #f58380;
}
.bg-gray-60 {
  background-color: #545454;
}
.bg-gray-40 {
  background-color: #a7a7a7;
}
.bg-gray-20 {
  background-color: #d3d3d3;
}
.bg-black-main {
  background-color: #222;
}
.bg-white {
  background-color: #fff;
}
.bg-green {
  background-color: #3ba68c;
}
.bg-pink {
  background-color: #e54b6a;
}
.bg-orange {
  background-color: #e98446;
}
.bg-violet {
  background-color: #a08ce2;
}
.bg-background {
  background-color: #f6f6f6;
}
.clr-transparent {
  color: transparent;
}
.clr-blue-main {
  color: #1e4391;
}
.clr-blue-dark {
  color: #0f2b5e;
}
.clr-blue-60 {
  color: #748ab9;
}
.clr-blue-40 {
  color: #9faecd;
}
.clr-blue-20 {
  color: #cad1e1;
}
.clr-blue-secondary {
  color: #4685cf;
}
.clr-red-main {
  color: #ef302b;
}
.clr-red-dark {
  color: #c0231f;
}
.clr-red-60 {
  color: #f58380;
}
.clr-gray-60 {
  color: #545454;
}
.clr-gray-40 {
  color: #a7a7a7;
}
.clr-gray-20 {
  color: #d3d3d3;
}
.clr-black-main {
  color: #222;
}
.clr-white {
  color: #fff;
}
.clr-green {
  color: #3ba68c;
}
.clr-pink {
  color: #e54b6a;
}
.clr-orange {
  color: #e98446;
}
.clr-violet {
  color: #a08ce2;
}
.clr-background {
  color: #f6f6f6;
}
.u-fw-400 {
  font-weight: 400;
}
.u-fw-500 {
  font-weight: 500;
}
.u-fw-600 {
  font-weight: 600;
}
h1,
.h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 57.2px;
}
h2,
.h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
h3,
.h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
h4,
.h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
h5,
.h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
}
.st {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}
.ds {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}
.th {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.tt {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.bt {
  font-weight: 500;
  font-size: 13px;
  line-height: 15.6px;
}
.u-required:after {
  content: "*";
  color: #ef302b;
  padding-left: 3px;
}
.u-benefit {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1e4391;
  padding-bottom: 4px;
  border-bottom: 8px solid #1e4391;
}
.u-link {
  color: #1e4391;
  cursor: pointer;
}
.u-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.22em;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100vh;
  display: flex;
}
